<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Silk Editor"
            extensions="silk"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.xerial.silk.eclipse.SilkEditor"
            id="org.xerial.silk.eclipse.SilkEditor">
      </editor>
   </extension>

</plugin>
